<a href="https://colab.research.google.com/github/sejinseo/Python/blob/main/py00.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
for n in range(1, 6):
    print("*"*n)

*
**
***
****
*****

In [ ]:
for i in range(1, 13):
    print(f'12 x {i} = {12 * i}')

12 x 1 = 12
12 x 2 = 24
12 x 3 = 36
12 x 4 = 48
12 x 5 = 60
12 x 6 = 72
12 x 7 = 84
12 x 8 = 96
12 x 9 = 108
12 x 10 = 120
12 x 11 = 132
12 x 12 = 144

In [ ]:
for dan in range(2, 10):
    for n in range(1 , 10):
        print(f'{dan} x {n} = {dan * n}')
    print('---------------')

2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
---------------
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
---------------
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
---------------
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
---------------
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
---------------
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
---------------
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
---------------
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81
---------------

In [ ]:
for x in range(5):
    if x == 2:
        break
    print(x)

0
1

In [ ]:
for x in range(5):
    if x == 2:
        continue
    print(x)

0
1
3
4

In [ ]:
for dan in range(2, 10):
    for n in range(1, 10):
        print(f'{dan} x {n} = {dan * n}')
        if dan == n:
            break
    print('-----------')

2 x 1 = 2
2 x 2 = 4
-----------
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
-----------
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
-----------
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
-----------
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
-----------
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
-----------
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
-----------
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81
-----------

In [ ]:
for dan in range(2, 10):
    for n in range(1, dan+1):
        print(f'{dan} x {n} = {dan * n}')
    print('---------')

2 x 1 = 2
2 x 2 = 4
---------
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
---------
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
---------
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
---------
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
---------
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
---------
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
---------
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81
---------

In [ ]:
n = 1
while n < 10:
    print(n)
    n += 2

1
3
5
7
9

In [ ]:
x = 2
while x < 10:
    y = 1
    while y < 10:
        print(f'{x} x {y} = {x * y}')
        y += 1
    x += 1
    print('-----------------')

2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
-----------------
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
-----------------
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
-----------------
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
-----------------
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
-----------------
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
-----------------
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
-----------------
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81
-----------------

In [ ]:
x = 2
while x < 10:
    y = 1
    while y <= x:
        print(f'{x} x {y} = {x * y}')
        y += 1
    x += 1
    print('----------------')

2 x 1 = 2
2 x 2 = 4
----------------
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
----------------
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
----------------
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
----------------
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
----------------
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
----------------
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
----------------
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81
----------------

In [ ]:
x = 2
while x < 10:
    y = 1
    while y < 10:
        print(f'{x} x {y} = {x * y}')
        if y == x:
            break
        y += 1
    x += 1
    print('------------------')

2 x 1 = 2
2 x 2 = 4
------------------
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
------------------
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
------------------
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
------------------
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
------------------
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
------------------
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
------------------
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81
------------------

## list.append(arg)

리스트의 가장 마지막에 새로운 원소(arg)를 추가

In [ ]:
numbers = [1, 20, 3, 40, 7]
numbers

[1, 20, 3, 40, 7]

In [ ]:
numbers.append(100)
numbers

[1, 20, 3, 40, 7, 100, 100]

## list.insert(index, value)

list의 index 위치에 value를 추가(삽입)

In [ ]:
numbers.insert(1, 100)
numbers

[1, 100, 20, 3, 40, 7, 100, 100]

In [ ]:
numbers.extend([2, 4 ,6])
numbers

[1, 100, 20, 3, 40, 7, 100, 100, 2, 4, 6]

In [ ]:
numbers.append([1, 2, 3]) #> 리스트의 가장 마지막에 다른 리스트가 원소로 추가.
numbers

[1, 100, 20, 3, 40, 7, 100, 100, 2, 4, 6, [1, 2, 3]]

## list.remove(value)

list에서 처음 등장하는 value 한 개를 삭제.

In [ ]:
numbers.remove(100)
numbers

[1, 20, 3, 40, 7, 100, 100, 2, 4, 6, [1, 2, 3]]

## list.pop(index)

list에서 index 위치에 있는 값을 삭제하고, 삭제한 값을 리턴. index를 전달하지 않으면, list에서 가장 마지막 원소를 삭제.

In [ ]:
numbers.pop(0)
numbers

[20, 3, 40, 7, 100, 100, 2, 4, 6, [1, 2, 3]]

In [ ]:
numbers.pop()

[1, 2, 3]

In [ ]:
numbers

[20, 3, 40, 7, 100, 100, 2, 4, 6]

list.clear()

list의 모든 원소들을 삭제

In [ ]:
numbers.clear()
numbers

[]

## list의 값 수정

list[index] = value

In [ ]:
numbers = [1, 3, 5, 7]
numbers[1] = 100

In [ ]:
numbers

[1, 100, 5, 7]

리스트에서 인덱스와 그 인덱스의 원소가 모두 필요한 경우

In [ ]:
for i in range(len(numbers)):
    print(i, ':', numbers[i])

0 : 1
1 : 100
2 : 5
3 : 7

In [ ]:
for index, value in enumerate(numbers):
    print(index, ':', value)

0 : 1
1 : 100
2 : 5
3 : 7

In [ ]:
import random

In [ ]:
random.randrange(1, 5) # 1 <= x < 5 범위의 정수(int) 난수를 리턴.

3

In [ ]:
numbers = []
for _ in range(5):
    numbers.append(random.randrange(1, 11))
    print(numbers)

[3]
[3, 3]
[3, 3, 4]
[3, 3, 4, 6]
[3, 3, 4, 6, 1]

In [ ]:
sum(numbers)

17

In [ ]:
mean = sum(numbers) / len(numbers)
mean

3.4

In [ ]:
numbers = []
for _ in range(10):
    numbers.append(random.randrange(10, 100))

numbers

[11, 99, 14, 93, 67, 64, 54, 14, 54, 29]

In [ ]:
evens = []
for x in numbers:
    if x % 2 == 0:
        evens.append(x)
print(evens)

[14, 64, 54, 14, 54]

In [ ]:
odds = []
for x in numbers:
    if x % 2:
        odds.append(x)
print(odds)

[11, 99, 93, 67, 29]

In [ ]:
numbers = []
for _ in range(10):
    numbers.append(random.randrange(-10, 11))
numbers

[-10, -8, -5, -3, 10, -7, -6, -1, 0, 10]

In [ ]:
is_positives = []
for x in numbers:
    if x > 0:
        is_positives.append(True)
    else:
        is_positives.append(False)
is_positives

[False, False, False, False, True, False, False, False, False, True]

In [ ]:
gender_coders = []
for _ in range(10):
    gender_coders.append(random.randrange(0, 2))
print(gender_coders)

genders = []
for x in gender_coders:
    if x == 0:
        genders.append('Male')
    else:
        genders.append('Female')
genders

[1, 0, 0, 1, 1, 0, 1, 0, 0, 1]

['Female',
 'Male',
 'Male',
 'Female',
 'Female',
 'Male',
 'Female',
 'Male',
 'Male',
 'Female']

In [ ]:
numbers = []
for x in range(1, 11):
    numbers.append(x)
numbers

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
numbers = [x for x in range(1, 11)]
numbers

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
squares = [x ** 2 for x in range(1, 11)]
squares

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [ ]:
squares = []
for x in range(1, 11):
    squares.append(x ** 2)
squares

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [ ]:
numbers = []
for x in range(11):
    if x % 2 == 0:
        numbers.append(x)
numbers

[0, 2, 4, 6, 8, 10]

In [ ]:
numbers = [x for x in range(0, 11, 2)]
numbers

[0, 2, 4, 6, 8, 10]

In [ ]:
numbers = [x for x in range(1, 10, 2)]
numbers

[1, 3, 5, 7, 9]

In [ ]:
numbers = [random.randrange(10, 100) for _ in range(10)]
numbers

[51, 96, 65, 48, 99, 30, 66, 41, 62, 82]

In [ ]:
evens = [x for x in numbers if x % 2 == 0]
evens

[96, 48, 30, 66, 62, 82]

In [ ]:
odds = [x for x in numbers if x % 2]
odds

[51, 65, 99, 41]

In [ ]:
num_list = ['even' if x % 2 == 0 else 'odd' for x in numbers]
num_list

['odd', 'even', 'odd', 'even', 'odd', 'even', 'even', 'odd', 'even', 'even']

In [ ]:
numbers = [random.randrange(-10, 11) for _ in range(10)]
numbers

[0, -5, -8, -9, -1, 9, -5, -2, 8, -1]

In [ ]:
positives = [x for x in numbers if x > 0]
positives

[9, 8]

In [ ]:
not_positives = [x for x in numbers if x <= 0]
not_positives

[0, -5, -8, -9, -1, -5, -2, -1]

In [ ]:
is_positives = [True if x > 0 else False for x in numbers]
is_positives

[False, False, False, False, False, True, False, False, True, False]

In [ ]:
genders_codes = [random.randrange(0, 2) for _ in range(10)]
genders_codes

[0, 1, 0, 0, 1, 0, 1, 0, 1, 0]

In [ ]:
genders = ['Male' if x == 0 else 'Female' for x in genders_codes]
genders

['Male',
 'Female',
 'Male',
 'Male',
 'Female',
 'Male',
 'Female',
 'Male',
 'Female',
 'Male']

In [ ]:
genders_codes = [random.randrange(0, 3) for _ in range(10)]
genders_codes

[0, 0, 2, 0, 2, 0, 0, 2, 0, 1]

In [ ]:
genders = ['Male' if x == 0 else ('Female' if x == 1 else 'Unknown') for x in genders_codes]
genders

['Male',
 'Male',
 'Unknown',
 'Male',
 'Unknown',
 'Male',
 'Male',
 'Unknown',
 'Male',
 'Female']

In [ ]:
numbers1 = [random.randrange(0, 10) for _ in range(10)]
numbers1

[2, 7, 0, 3, 1, 1, 3, 5, 0, 4]

In [ ]:
numbers2 = [random.randrange(0, 10) for _ in range(10)]
numbers2

[4, 2, 5, 5, 6, 8, 7, 1, 0, 6]

In [ ]:
adds = [numbers1[x] + numbers2[x] for x in range(10)]
adds

[6, 9, 5, 8, 7, 9, 10, 6, 0, 10]

In [ ]:
adds = [x + y for x, y in zip(numbers1, numbers2)]
adds

[6, 9, 5, 8, 7, 9, 10, 6, 0, 10]

In [ ]:
mutiplicatoins = [numbers1[x] * numbers2[x] for x in range(10)]
mutiplicatoins

[8, 14, 0, 15, 6, 8, 21, 5, 0, 24]

In [ ]:
mutiplicatoins = [x * y for x, y in zip(numbers1, numbers2)]
mutiplicatoins

[8, 14, 0, 15, 6, 8, 21, 5, 0, 24]

In [ ]:
sum(mutiplicatoins)

101

In [2]:
import numpy as np
import pandas as pd

# Series

* 한가지 타입의 값 여러개를 저장할 수 있는 1차원 모양의 데이터 타입(클래스)
* 축(axis) 레이블을 가지고 있는 1차원 배열(ndarray)

In [3]:
# pd.Series 클래스의 생성자를 호출 -> Series 클래스의 인스턴스를 생성.
s = pd.Series(data=[1, 3, -5, -7])

In [5]:
s # expression(식) 자동 출력

0    1
1    3
2   -5
3   -7
dtype: int64

In [6]:
print(s) # print문장 (statement) 출력

0    1
1    3
2   -5
3   -7
dtype: int64

In [7]:
type(s)

pandas.core.series.Series

In [8]:
s.index # Series 객체의 index 속성(property, attribute) = 레이블(label)

RangeIndex(start=0, stop=4, step=1)

In [9]:
s.values # Series 객체의 Values 속성 - 값들의 배열(ndarray)

array([ 1,  3, -5, -7])

In [10]:
print(s.values)

[ 1  3 -5 -7]

# indexing, slicing

In [11]:
s[0] # indexing

1

In [12]:
s[3] # indexing

-7

In [13]:
s[0:2] # slicing - [0, 2) 범위의 원소들

0    1
1    3
dtype: int64

In [14]:
# s[-1] # 음수 인덱스를 사용하면 ValueError가 발생
s[-2:] # 음수 slicing 가능

2   -5
3   -7
dtype: int64

# iloc, loc 속성

* iloc: 정수 인덱스 기반의 원소 참조(integer location)
* loc: 레이블 기반의 원소 참조(location)

In [15]:
s

0    1
1    3
2   -5
3   -7
dtype: int64

In [16]:
s.loc[0]

1

In [17]:
s.loc[3]

-7

In [18]:
# s.loc[-1]
#> ValueError: 레이블 -1은 없기 때문에.

In [19]:
s.iloc[3]

-7

In [20]:
s.iloc[-1]

-7

Series의 기본 indexing 방식은 loc 기반 인덱싱이어서, 음수 인덱스 사용이 불가능.

In [21]:
# loc를 사용한 slicing
s.loc[0:2]

0    1
1    3
2   -5
dtype: int64

In [22]:
# iloc를 사용한 slicing
s.iloc[0:2]

0    1
1    3
dtype: int64

Slicing의 기본 slicing 방식은 iloc 기반 slicing이어서, 음수 인덱스 사용이 가능.