<a href="https://colab.research.google.com/github/sejinseo/Python/blob/main/py01_~_11_%EB%B3%B5%EC%8A%B5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import random

In [2]:
numbers = []
for _ in range(5):
    numbers.append(random.randrange(1, 11))
numbers

[4, 10, 8, 5, 9]

In [3]:
sum(numbers)

36

In [5]:
mean = sum(numbers) / len(numbers)
mean

7.2

In [6]:
numbers = []
for _ in range(10):
    numbers.append(random.randrange(10, 100))
numbers

[42, 81, 16, 44, 54, 87, 44, 95, 78, 10]

In [7]:
evens = []
odds = []
for n in numbers:
    if n % 2 == 0:
        evens.append(n)
    else:
        odds.append(n)
print(evens)
print(odds)

[42, 16, 44, 54, 44, 78, 10]
[81, 87, 95]

In [8]:
numbers = []
for _ in range(10):
    numbers.append(random.randrange(-10, 11))
numbers

[6, -1, 8, 9, 4, -6, -5, -3, -9, -8]

In [9]:
is_positives = []
for n in numbers:
    if n > 0:
        is_positives.append(True)
    else:
        is_positives.append(False)
is_positives

[True, False, True, True, True, False, False, False, False, False]

In [10]:
gender_codes = []
for _ in range(10):
    gender_codes.append(random.randrange(2))
gender_codes

[0, 0, 1, 1, 0, 1, 0, 1, 1, 0]

In [15]:
genders = []
for g in gender_codes:
    if g == 0:
        genders.append('Male')
    else:
        genders.append('Female')
genders

['Male',
 'Male',
 'Female',
 'Female',
 'Male',
 'Female',
 'Male',
 'Female',
 'Female',
 'Male']

In [16]:
numbers = [x ** 2 for x in range(1, 11)]
numbers

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [18]:
evens = [x for x in range(0, 11, 2)]
evens

[0, 2, 4, 6, 8, 10]

In [19]:
odds = [x for x in range(1, 11, 2)]
odds

[1, 3, 5, 7, 9]

In [20]:
numbers = [random.randrange(10, 100) for _ in range(10)]
numbers

[94, 70, 88, 50, 66, 92, 44, 41, 49, 81]

In [22]:
evens = [x for x in numbers if x % 2 == 0]
evens

[94, 70, 88, 50, 66, 92, 44]

In [23]:
odds = [x for x in numbers if x % 2]
odds

[41, 49, 81]

In [24]:
is_even = ['even' if x % 2 == 0 else 'odd' for x in numbers]
is_even

['even', 'even', 'even', 'even', 'even', 'even', 'even', 'odd', 'odd', 'odd']

In [25]:
numbers = [random.randrange(-10, 11) for _ in range(10)]
numbers

[-1, -7, -10, 7, -5, -9, 4, -8, 4, 6]

In [26]:
positives = [x for x in numbers if x > 0]
positives

[7, 4, 4, 6]

In [27]:
not_positives = [x for x in numbers if x <= 0]
not_positives

[-1, -7, -10, -5, -9, -8]

In [28]:
is_positives = [True if x > 0 else False for x in numbers]
is_positives

[False, False, False, True, False, False, True, False, True, True]

In [29]:
gender_codes = [random.randrange(2) for _ in range(10)]
gender_codes

[1, 0, 0, 1, 1, 1, 1, 0, 1, 0]

In [30]:
genders = ['Male' if x == 0 else 'Female' for x in gender_codes]
genders

['Female',
 'Male',
 'Male',
 'Female',
 'Female',
 'Female',
 'Female',
 'Male',
 'Female',
 'Male']

In [31]:
gender_codes = [random.randrange(3) for _ in range(10)]
gender_codes

[1, 1, 1, 1, 0, 0, 2, 1, 1, 2]

In [32]:
genders = ['Male' if x == 0 else 'Female' if x == 1 else 'Unknown' for x in gender_codes]
genders

['Female',
 'Female',
 'Female',
 'Female',
 'Male',
 'Male',
 'Unknown',
 'Female',
 'Female',
 'Unknown']

In [33]:
numbers1 = [random.randrange(0, 10) for _ in range(10)]
numbers1

[0, 9, 3, 5, 1, 5, 8, 2, 4, 7]

In [34]:
numbers2 = [random.randrange(0, 10) for _ in range(10)]
numbers2

[6, 4, 3, 3, 2, 6, 2, 7, 2, 0]

In [35]:
adds = [numbers1[x] + numbers2[x] for x in range(10)]
adds

[6, 13, 6, 8, 3, 11, 10, 9, 6, 7]

In [37]:
adds = [x + y for x, y in zip(numbers1, numbers2)]
adds

[6, 13, 6, 8, 3, 11, 10, 9, 6, 7]

In [36]:
mutiplicatoins = [numbers1[x] * numbers2[x] for x in range(10)]
mutiplicatoins

[0, 36, 9, 15, 2, 30, 16, 14, 8, 0]

In [38]:
mutiplicatoins = [x * y for x, y in zip(numbers1, numbers2)]
mutiplicatoins

[0, 36, 9, 15, 2, 30, 16, 14, 8, 0]

In [39]:
sum(mutiplicatoins)

130

In [40]:
martix = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
martix

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [41]:
martix[0]

[1, 2, 3]

In [42]:
martix[0][0]

1

In [43]:
martix[1][2]

6

In [44]:
for row in martix:
    print(row)

[1, 2, 3]
[4, 5, 6]
[7, 8, 9]

In [45]:
for row in martix:
    for x in row:
        print(x)

1
2
3
4
5
6
7
8
9

In [47]:
for row in martix:
    for x in row:
        print(x, end=' ')
    print()

1 2 3
4 5 6
7 8 9

In [48]:
martix1 = []
for _ in range(3):
    row = []
    for _ in range(3):
        row.append(random.randrange(10))
    martix1.append(row)
martix1

[[1, 2, 4], [7, 8, 2], [0, 8, 6]]

In [49]:
martix2 = []
for _ in range(3):
    row = [random.randrange(10) for _ in range(3)]
    martix2.append(row)
martix2

[[4, 0, 3], [6, 4, 3], [7, 5, 7]]

In [51]:
martix3 = [[random.randrange(10) for _ in range(3)] for _ in range(3)]
martix3

[[6, 6, 0], [1, 2, 6], [0, 2, 3]]

In [53]:
adds = []
for row1, row2 in zip(martix1, martix2):
    temp = []
    for x, y in zip(row1, row2):
        temp.append(x + y)
    adds.append(temp)
adds

[[5, 2, 7], [13, 12, 5], [7, 13, 13]]

In [55]:
adds = []
for row1, row2 in zip(martix1, martix2):
    temp = [x + y for x, y in zip(row1, row2)]
    adds.append(temp)
adds

[[5, 2, 7], [13, 12, 5], [7, 13, 13]]

In [56]:
adds = [[x + y for x, y in zip(row1, row2)] 
        for row1, row2 in zip(martix1, martix2)]
adds

[[5, 2, 7], [13, 12, 5], [7, 13, 13]]

In [57]:
first, second = (100, 50)
print(first)
print(second)

100
50

In [58]:
x, y, z = [1, 2, 3]
print(f'{x}, {y}, {z}')

1, 2, 3

In [59]:
emp_no = [101, 102, 103, 201, 202] 
emp_name = ['King', 'Scott', 'Allen', 'Tiger', '세진']

In [60]:
emp = {}
for i in range(5):
    emp[emp_no[i]] = emp_name[i]
emp

{101: 'King', 102: 'Scott', 103: 'Allen', 201: 'Tiger', 202: '세진'}

In [61]:
emp = {}
for x, y in zip(emp_no, emp_name):
    emp[x] = y
emp

{101: 'King', 102: 'Scott', 103: 'Allen', 201: 'Tiger', 202: '세진'}

In [63]:
emp = {x: y for x, y in zip(emp_no, emp_name)}
emp

{101: 'King', 102: 'Scott', 103: 'Allen', 201: 'Tiger', 202: '세진'}

In [64]:
fruits = ['apple', 'banana', 'cherry', 'pineapple', 'watermelon']
fruits_lengths = {}
for i in fruits:
    fruits_lengths[i] = len(i)
fruits_lengths

{'apple': 5, 'banana': 6, 'cherry': 6, 'pineapple': 9, 'watermelon': 10}

In [65]:
lengths = {x: len(x) for x in fruits}
lengths

{'apple': 5, 'banana': 6, 'cherry': 6, 'pineapple': 9, 'watermelon': 10}

In [73]:
def make_list(start, end, n):
    # array = []
    # for _ in range(n):
    #     array.append(random.randrange(start, end))
    # return array
    array = [random.randrange(start, end) for _ in range(n)]
    return array

In [74]:
make_list(3, 6, 3)

[5, 4, 4]

In [81]:
def calc_sum(numbers):
    # total = 0
    # for n in numbers:
    #     total += n
    # return total
    
    return sum(numbers)

In [82]:
calc_sum([1, 3, 4, 5, 6])

19

In [91]:
def calc_mean(numbers):
    return calc_sum(numbers) / len(numbers)

In [92]:
calc_mean([5,5,5,5,5])

5.0

In [96]:
def calc_variance(numbers):
    mean = calc_mean(numbers)
    squares = [(x - mean) ** 2 for x in numbers]
    var = calc_sum(squares) / (len(numbers) - 1)
    return var

In [97]:
calc_variance([1,2,3,4,5,6])

[6.25, 2.25, 0.25, 0.25, 2.25, 6.25]

3.5

In [98]:
import math
def calc_stddev(numbers):
    return math.sqrt(calc_variance(numbers))

In [99]:
calc_stddev([1, 3, 4, 5, 6])

[7.839999999999999, 0.6399999999999997, 0.04000000000000007, 1.4400000000000004, 4.840000000000001]

1.9235384061671346

In [106]:
def find_max_and_min(numbers):
    # return max(numbers), min(numbers)
    max_numbers = numbers[0]
    min_numbers = numbers[0]
    for x in numbers:
        if x > max_numbers:
            max_numbers = x
        if x < min_numbers:
            min_numbers = x
    return max_numbers, min_numbers

In [107]:
find_max_and_min([2, 2, 3, 4, 5])

(5, 2)

In [108]:
def calculate(*values, op):
    result = 1
    if op == '+':
        return sum(values)
    elif op == '*':
        for x in values:
            result *= x
        return result

In [110]:
calculate(1, 2, 3, 4, 5, op='*')

120

In [111]:
def make_employee(emp_no, emp_name, **kwargs):
    emp = {'emp_no': emp_no, 'emp_name': emp_name}
    for k, v in kwargs.items():
        if k == 'email' or k =='phone':
            emp[k] = v
        return emp

In [112]:
make_employee(101, 'Scott', email='tjtpwls1@naver.com')

{'email': 'tjtpwls1@naver.com', 'emp_name': 'Scott', 'emp_no': 101}

In [113]:
def calculator(x, y, fn):
    result = fn(x, y)
    return result

In [114]:
def plus(x, y):
    return x+y

In [115]:
calculator(3, 4, plus)

7

In [116]:
def make_increment(n):
    def add_n(x):
        return x + n

In [117]:
plus_one = lambda x: x +1

In [118]:
plus_one(2)

3

In [119]:
calculator(1, 2, lambda x, y : x - y)

-1

In [120]:
calculator(2, 3, lambda x, y: x * y)

6

In [121]:
calculator(1, 2, lambda x, y : x if x > y else y)

2

In [122]:
numbers = [1, -2, 3, -4, -5, 6, 7, 8]

In [123]:
result = filter(lambda x: x > 0, numbers)
result

In [124]:
list(result)

[1, 3, 6, 7, 8]

In [127]:
result = filter(lambda x: x < 0, numbers)
list(result)

[-2, -4, -5]

In [128]:
result = filter(lambda x: x % 2, numbers)
list(result)

[1, 3, -5, 7]

In [129]:
result = map(lambda x: 'even' if x % 2 == 0 else 'odd', numbers)
list(result)

['odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even']

In [130]:
genders = ['Male', 'Female', 'Female', 'Male']

In [131]:
result = filter(lambda x: x =='Female', genders)
list(result)

['Female', 'Female']

In [134]:
result = map(lambda x: 1 if x == 'Male' else '0', genders)
list(result)

[1, '0', '0', 1]

In [135]:
def my_filter(iterable, fn):
    # result = []
    # for x in iterable:
    #     if fn(x):
    #         result.append(x)
    #     return result
    return [x for x in iterable if fn(x)]

In [136]:
numbers

[1, -2, 3, -4, -5, 6, 7, 8]

In [140]:
my_filter(numbers, lambda x: x>0)

[1, 3, 6, 7, 8]

In [141]:
languages = ['Java', 'HTML', 'CSS', 'JavaScript', 'Python']
my_filter(languages, lambda x: len(x) >= 5)

['JavaScript', 'Python']

In [142]:
def my_mapper(iterable, fn):
    # result = []
    # for x in iterable:
    #     result.append(fn(x))
    # return result
    return [fn(x) for x in iterable]

In [143]:
numbers

[1, -2, 3, -4, -5, 6, 7, 8]

In [145]:
my_mapper(numbers, lambda x: '짝수' if x % 2 == 0 else '홀수')

['홀수', '짝수', '홀수', '짝수', '홀수', '짝수', '홀수', '짝수']

In [146]:
genders = ['남성', '여성', '여성', '남성']
my_mapper(genders, lambda x: 0 if x == '남성' else 1)

[0, 1, 1, 0]

In [150]:
def my_mapper2(iterable, fn):
    # result = {}
    # for x in iterable:
    #     result[x] = fn(x)
    # return result
    return {x: fn(x) for x in iterable}

In [151]:
my_mapper2(numbers, lambda x: '짝수' if x % 2 == 0 else '홀수')

{-5: '홀수', -4: '짝수', -2: '짝수', 1: '홀수', 3: '홀수', 6: '짝수', 7: '홀수', 8: '짝수'}

In [152]:
my_mapper2(languages, lambda x: len(x))

{'CSS': 3, 'HTML': 4, 'Java': 4, 'JavaScript': 10, 'Python': 6}