<a href="https://colab.research.google.com/github/sejinseo/Python/blob/main/py08_dict.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# dict

* dictionary(사전) 형식의 데이터 타입
* 키(key)를 기반으로 값(value)를 저장하는 데이터 타입.
    * list, tuple: index를 기반으로 값을 저장하는 데이터 타입
    * key의 역할은 list 또는 tuple에서 인덱스의 역할과 마찬가지로, dict 타입에 저장되어 있는 유일한 1개의 값을 참조하기 위한 용도.

In [ ]:
students = {1: '홍길동', 2: 'Scott', 10: '김길동'}
students

{1: '홍길동', 2: 'Scott', 10: '김길동'}

In [ ]:
type(students)

dict

In [ ]:
len(students)

3

In [ ]:
# dict의 저장된 값(value)를 참조할 때 인덱스 연산자([])와 키(key)를 사용.
students[1]

'홍길동'

In [ ]:
# dict에 새로운 아이템 추가: dict[new_key] = value
students[11] = 'Tiger'
students

{1: '홍길동', 2: 'Scott', 3: '서세진', 10: '김길동', 11: 'Tiger'}

In [ ]:
# dict에서 해당 키의 값을 변경: dict[key] = new_value
students[10] = 'King'
students

{1: '홍길동', 2: 'Scott', 3: '서세진', 10: 'King', 11: 'Tiger'}

# dict의 메서드(기능)

In [ ]:
book = {'title': '점프 투 파이썬',
        'author': '박응용',
        'price': 10_000}
book

{'author': '박응용', 'price': 10000, 'title': '점프 투 파이썬'}

In [ ]:
# dict의 key들의 집합
book.keys()

dict_keys(['title', 'author', 'price'])

In [ ]:
# dict의 value들의 집합
book.values()

dict_values(['점프 투 파이썬', '박응용', 10000])

In [ ]:
# dict의 item(key, value)들의 집합
book.items()

dict_items([('title', '점프 투 파이썬'), ('author', '박응용'), ('price', 10000)])

In [ ]:
# dict에서 해당 key의 value를 리턴
book['title'] # 인덱스 연산자 + 키

'점프 투 파이썬'

In [ ]:
book.get('title') # 메서드를 호출하면서 키를 argument로 전달.

'점프 투 파이썬'

In [ ]:
# 인덱스 연산자를 사용하는 경우, dict에 없는 키를 사용하면 KeyError가 발생함.
# book['isbn']

# get() 메서드를 호출할 때는 dict에 없는 키인 경우 None을 리턴.
print(book.get('isbn'))

None

In [ ]:
# dict에서 아이템 삭제
book.pop('price')

10000

In [ ]:
book

{'author': '박응용', 'title': '점프 투 파이썬'}

dict는 키(key)와 값(value) 모두 다양한 타입의 자료들을 사용할 수 있음.

In [ ]:
contact = {
    'no': 1,
    'name': '세진',
    'phone': ['010-1111-1111', '02-1111-1111'],
    'email': {'personal': 'tjtpwls1@naver.com', 'company': 'sejin@itwill.co.kr'}
}
contact

{'email': {'company': 'sejin@itwill.co.kr', 'personal': 'tjtpwls1@naver.com'},
 'name': '세진',
 'no': 1,
 'phone': ['010-1111-1111', '02-1111-1111']}

In [ ]:
contact['no'] #> int

1

In [ ]:
contact['phone'] #> list

['010-1111-1111', '02-1111-1111']

In [ ]:
contact['phone'][0]

'010-1111-1111'

In [ ]:
contact['email']

{'company': 'sejin@itwill.co.kr', 'personal': 'tjtpwls1@naver.com'}

In [ ]:
contact['email']['company']

'sejin@itwill.co.kr'

dict와 for 반복문

for-in 구문에 dict 타입 객체를 사용하면, key에 대해서 반복(iteration)을 함.

In [ ]:
for k in contact:
    print(k)

no
name
phone
email

In [ ]:
for k in contact:
    print(k, ':', contact[k])

no : 1
name : 세진
phone : ['010-1111-1111', '02-1111-1111']
email : {'personal': 'tjtpwls1@naver.com', 'company': 'sejin@itwill.co.kr'}

In [ ]:
for item in contact.items():
    print(item)

('no', 1)
('name', '세진')
('phone', ['010-1111-1111', '02-1111-1111'])
('email', {'personal': 'tjtpwls1@naver.com', 'company': 'sejin@itwill.co.kr'})

In [ ]:
# tuple decomposition: k, v = ('no', 1)
for k, v in contact.items():
    print(k, ':', v)

no : 1
name : 세진
phone : ['010-1111-1111', '02-1111-1111']
email : {'personal': 'tjtpwls1@naver.com', 'company': 'sejin@itwill.co.kr'}

# Dictionary Comprehension

In [ ]:
emp_no = [101, 102, 103, 201, 202] # 사번 리스트
emp_name = ['King', 'Scott', 'Allen', 'Tiger', '세진'] # 직원 이름 리스트

In [ ]:
# 사번을 key로 하고, 이름을 value로 하는 dict 객체 생성.
# 1) empty dict
emp = {}

# 2) dict[k] = v 추가 반복
for i in range(5):
    emp[emp_no[i]] = emp_name[i]

print(emp)

{101: 'King', 102: 'Scott', 103: 'Allen', 201: 'Tiger', 202: '세진'}

In [ ]:
emp = {}
for k, v in zip(emp_no, emp_name):
    emp[k] = v

emp

{101: 'King', 102: 'Scott', 103: 'Allen', 201: 'Tiger', 202: '세진'}

In [ ]:
# dictionary comprehension
emp = {k: v for k, v in zip(emp_no, emp_name)}
emp

{101: 'King', 102: 'Scott', 103: 'Allen', 201: 'Tiger', 202: '세진'}

In [ ]:
fruits = ['apple', 'banana', 'cherry', 'pineapple', 'watermelon']

# {과일 이름: 이름의 길이} 형식의 dict를 생성
fruit_lengths = {k: len(k) for k in fruits}
print(fruit_lengths)

fruit_lengths = {}
for x in fruits:
    # print(x, ':', len(x))
    fruit_lengths[x] = len(x)
fruit_lengths

{'apple': 5, 'banana': 6, 'cherry': 6, 'pineapple': 9, 'watermelon': 10}

{'apple': 5, 'banana': 6, 'cherry': 6, 'pineapple': 9, 'watermelon': 10}