<a href="https://colab.research.google.com/github/sejinseo/Python/blob/main/py12_oop.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# OOP(Object-Oriented Programming, 객체 지향 프로그래밍)의 배경

## list, dict 사용

In [ ]:
students = [
            {'name': 'aa', 'korean': 90, 'english': 95, 'math': 80},
            {'name': 'bb', 'korean': 70, 'english': 90, 'math': 80},
            {'name': 'cc', 'korean': 95, 'english': 80, 'math': 85}
]

In [ ]:
# 각 학생의 3과목 총점과 평균
for s in students:
    total = s['korean'] + s['english'] + s['math']
    mean = total / 3
    print(f'이름: {s["name"]}, 총점: {total}, 평균: {mean}')

이름: aa, 총점: 265, 평균: 88.33333333333333
이름: bb, 총점: 240, 평균: 80.0
이름: cc, 총점: 260, 평균: 86.66666666666667

## 함수형 프로그래밍(Functional Programming)

In [ ]:
def create_student(name, korean, english, math):
    student = {
        'name': name,
        'korean': korean,
        'english': english,
        'math': math
    }

    return student

In [ ]:
students = [
            create_student(name='aa', korean=100, english=100, math=100),
            create_student(name='bb', korean=90, english=100, math=100),
            create_student(name='cc', korean=80, english=100, math=100),
            create_student(name='dd', korean=70, english=100, math=100),
]

In [ ]:
def get_total(student):
    return student['korean'] + student['english'] + student['math']

In [ ]:
def get_mean(student):
    return get_total(student) / 3

In [ ]:
for s in students:
    total = get_total(s)
    mean = get_mean(s)
    print(f'이름: {s["name"]}, 총점: {total}, 평균: {mean}')

이름: aa, 총점: 300, 평균: 100.0
이름: bb, 총점: 290, 평균: 96.66666666666667
이름: cc, 총점: 280, 평균: 93.33333333333333
이름: dd, 총점: 270, 평균: 90.0

## 객체 지향 프로그래밍(OOP)

* 객체(object): 소프트웨어로 구현할 대상.
* 클래스(class): 객체를 구현하기 위한 소스 코드.
    * 속성(attribute, property): 객체가 가져야 하는 데이터. 변수들에 저장되는 값.
    * 메서드(method): 객체가 가져야 하는 기능. 클래스 내부에서 정의하는 함수.
* 인스턴스(instance): 클래스를 사용해서 메모리에 생성된 객체.
* 인스턴스 생성(intantiate): 클래스의 객체를 메모리에 생성하는 것.
* 생성자(construct): 인스턴스를 생성하기 위해서 호출하는 함수. 클래스 이름과 동일한 함수.

In [ ]:
# 클래스 정의
class Student:
    # 생성자 함수: 생성자가 호출됐을 때 자동으로 호출되는 함수. 속성들을 선언하고 초기화.
    def __init__(self, name, korean, english, math):
        self.name = name
        self.korean = korean
        self.english = english
        self.math = math

    # 메서드
    def get_total(self):
        return self.korean + self.english + self.math

    def get_mean(self):
        return self.get_total() / 3

    def print_info(self):
        print(f'이름: {self.name}, 총점: {self.get_total()}, 평균: {self.get_mean()}')

In [ ]:
stu1 = Student(name='홍길동', korean=100, english=90, math=90)

In [ ]:
stu1

In [ ]:
stu1.get_total()

280

In [ ]:
stu1.get_mean()

93.33333333333333

In [ ]:
stu1.print_info()

이름: 홍길동, 총점: 280, 평균: 93.33333333333333

In [ ]:
dir(stu1) # 객체가 가지고 있는 멤버들(속성과 메서드)의 리스트

['__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 'english',
 'get_mean',
 'get_total',
 'korean',
 'math',
 'name',
 'print_info']

# class 작성 연습

In [ ]:
import math # 수학 관련 함수들을 사용하기 위해서

In [ ]:
class Point:
    """
    2차원 평면의 점의 좌표를 표현하는 클래스
    """
    def __init__(self, x=0, y=0):
        self.x = x
        self.y = y
    
    def move(self, dx=0, dy=0):
        """
        점의 좌표를 원래 위치에서 x축의 방향으로 dx만큼, y축의 방향으로 dy만큼 이동
        """
        self.x += dx 
        self.y += dy

    def distance(self, other):
        """
        현재 위치와 다른 Point other 사이의 거리를 리턴
        """

        return math.sqrt((self.x - other.x)**2 + (self.y - other.y)**2)

In [ ]:
pt1 = Point() # 생성자 호출 -> Point 클래스의 인스턴스 생성

In [ ]:
print(pt1)

<__main__.Point object at 0x7fe4fe3b2d90>

In [ ]:
# 객체(인스턴스)의 속성들(멤버 변수들)
print(pt1.x)
print(pt1.y)

0
0

In [ ]:
pt2 = Point(3, 4)
print(pt2)
print(pt2.x)
print(pt2.y)

<__main__.Point object at 0x7fe4fe3217d0>
3
4

In [ ]:
pt3 = Point(1)
print(pt3)
print(pt3.x)
print(pt3.y)

<__main__.Point object at 0x7fe4fe30e510>
1
0

In [ ]:
pt4 = Point(y=1)
print(pt4)
print(pt4.x, pt4.y)

<__main__.Point object at 0x7fe4fe32d1d0>
0 1

In [ ]:
# pt4를 x축의 방향으로 1만큼, y축의 방향으로 2만큼 이동
pt4.move(1, 2)
print(pt4.x, pt4.y)

1 3

In [ ]:
pt1.distance(pt2)

5.0

In [ ]:
class Rectangle:
    """
    직사각형: 꼭지점의 x좌표, 꼭지점의 y좌표, 가로길이, 세로길이, 둘레 길이 계산 기능, 넓이 계산 기능
    """
    def __init__(self, x=0, y=0, width=0, height=0):
        self.x = x
        self.y = y
        self.width = width
        self.height = height
    
    def perimeter(self):
        return (self.width + self.height) * 2

    def area(self):
        return self.width * self.height

In [ ]:
# 꼭지점의 좌표가 원점(0, 0) 이고, 가로 길이는 2, 세로 길이는 3인 직사각형
rect1 = Rectangle(width=2, height=3)

In [ ]:
rect1.perimeter() # 2 * (2 + 3)

10

In [ ]:
rect1.area() # 2 * 3

6

In [ ]:
# 꼭지점의 좌표가 (1, 1)이고, 가로 길이는 4, 세로 길이는 3인 직사각형
rect2 = Rectangle(1, 1, 4, 3)

In [ ]:
rect2.perimeter()

14

In [ ]:
rect2.area()

12

# magic method

모든 클래스가 같은 이름으로 가지고 있는 메서드. 특별한 경우에 자동으로 호출되는 메서드.

* `__init__(self)`: 생성자를 호출하면 자동으로 호출되는 메서드.
* `__str__(self)`: `print()` 함수에서 자동으로 호출되는 메서드.
* `__repr__(self)`: 식(expression)을 자동으로 출력할 때 호출되는 메서드.
    * 클래스에서 `__str__`과 `__repr__` 메서드가 다르게 구현되어 있으면, print() 함수의 출력과 식을 출력하는 내용이 다름.
    * `print` 함수는 `__str__` 메서드가 구현되어 있으면 `__str__`를 호출하고, `__str__` 함수가 구현되어 있지 않으면 `__repr__` 함수를 호출함.

* `__eq__(self, object)`: `==` 연산자가 사용됐을 때 자동으로 호출되는 메서드.
* `__add__(self, object)`: `+` 연산자가 사용됐을 때 자동으로 호출되는 메서드.
* `__mul__(self, object)`: `*` 연산자가 사용됐을 때 자동으로 호출되는 메서드.

In [ ]:
class Test:
    def __init__(self):
        print('Test 객체 생성됨')

    # def __str__(self):
    #     return 'Test 클래스 객체'

    def __repr__(self):
        return 'Test 인스턴스'

In [ ]:
test = Test() # Test 클래스 인스턴스 생성

Test 객체 생성됨

In [ ]:
print(test) # 문장(statment) - print 함수는 객체의 __str__() 메서드가 리턴하는 문자열을 출력
test # 식(expression) - 식이 자동으로 출력될 때는 객체의 __repr__() 메서드가 리턴하는 문자열을 출력

Test 인스턴스

Test 인스턴스

In [ ]:
numbers1 = [1, 2, 3]
numbers2 = [1, 2, 3]
numbers1 == numbers2 # == 연산자가 __eq__() 메서드를 호출: numbers1.__eq__(numbers2)

True

In [ ]:
id(numbers1) # 리스트 numbers1의 주소값

140621493994192

In [ ]:
id(numbers2) # 리스트 numbers2의 주소값

140621493552464

In [ ]:
class Test2:
    def __init__(self, x):
        self.x = x

    def __eq__(self, other):
        if isinstance(other, Test2):
            if self.x == other.x:
                return True
        return False

In [ ]:
t1 = Test2(1)
t2 = Test2(1)

In [ ]:
print(id(t1))
print(id(t2))

140621493721808
140621493721744

In [ ]:
t1 == t2 # t1.__eq__(t2)의 결과

True

In [ ]:
numbers1 = [1, 2]
numbers2 = [3, 4]
numbers1 + numbers2 # numbers1.__add__(numbers2)

[1, 2, 3, 4]

In [ ]:
numbers1 * 3 # numbers1.__mul__(3)

[1, 2, 1, 2, 1, 2]

# class 작성 연습

## Ex 1. Score 클래스

* 속성(attribute):
    * 국어, 영어, 수학 점수
    * 모든 과목의 기본 값은 0
* 기능(method):
    * `__repr__`: Score{국어=100, 영어=100, 수학=100} 문자열 포맷을 리턴.
    * `calc_sum`: 세 과목 총점을 리턴
    * `calc_mean`: 세 과목 평균을 리턴

In [ ]:
class Score:
    def __init__(self, korean=0, english=0, math=0):
        self.korean = korean
        self.english = english
        self.math = math

    def __repr__(self):
        return f'Score{{국어={self.korean}, 영어={self.english}, 수학= {self.math}}}'
    def calc_sum(self):
        return self.korean + self.english + self.math
    def calc_mean(self):
        return self.calc_sum() / 3

In [ ]:
s1 = Score(80, 80, 80)

In [ ]:
s1.calc_sum()

240

In [ ]:
s1.calc_mean()

80.0

In [ ]:
s1

Score{국어=80, 영어=80, 수학= 80}

# Ex 2. Student 클래스

* 속성(attribute): 
    * 이름, Score 객체
* 기능(method):
    * `__repr__`: Student{이름: xxx, 점수: Score{국어=100, 영어=100, 수학=100}} 포맷의 문자열을 리턴.

In [ ]:
class Student:
    def __init__(self, name, korean=0, english=0, math=0):
        self.name = name
        self.score = Score(korean, english, math)
    
    def __repr__(self):
        return f'Student{{이름: {self.name}, 점수: {self.score}}}'

In [ ]:
stu1 = Student("서세진")
stu1

Student{이름: 서세진, 점수: Score{국어=0, 영어=0, 수학= 0}}

In [ ]:
stu2 = Student("홍길동", korean=100, english=90, math=50)
stu2

Student{이름: 홍길동, 점수: Score{국어=100, 영어=90, 수학= 50}}

In [ ]:
# stu2 객체의 점수 합계, 평균
print('총점 =', stu2.score.calc_sum())
print('평균 =', stu2.score.calc_mean())

총점 = 240
평균 = 80.0

In [ ]:
class Student2:
    def __init__(self, name, score):
        self.name = name
        self.score = score
    def __repr__(self):
        return f'Student{{이름: {self.name}, 점수: {self.score}}}'

In [ ]:
stu3 = Student2('abc', Score())
print(stu3)

Student{이름: abc, 점수: Score{국어=0, 영어=0, 수학= 0}}

In [ ]:
stu4 = Student2('def', Score(100, 50, 60))
stu4

Student{이름: def, 점수: Score{국어=100, 영어=50, 수학= 60}}

In [ ]:
print(stu4.score.calc_sum())
print(stu4.score.calc_mean())

210
70.0